{% extends "base.twig" %}

{% block content %}
<div class="container">
  <h1>Facebook APP HTML boilerplate</h1>
  <p>You can access FB Signed Request with <strong>fb_data</strong></p>
  <pre>{{ dump(fb_data) }}</pre>
  <p>Just a value of fb_data:</p>
  <pre>Does the user liked the page? {{ dump(fb_data['page']['liked']) }}</pre>
</div>
{% endblock %}