{% extends "base.twig" %}

{% block content %}
<div class="container">
  <section id="overview">
    <div class="hero-unit">
      <h1>Facebook APP HTML boilerplate</h1><br/>
      <p>An html boilerplate to make facebook tabs easy</p>
      <p>You're free to use the <a target="_blank" href="http://ckrack.github.com/fbootstrapp/">Facebook Bootstrap</a> or not just removing the head stylesheet.
      <p>You can access FB Signed Request with <strong>fb_data</strong></p>
      <pre class="prettyprint">{{ dump(fb_data) }}</pre>
      {% if fb_data %}
      <p>Just a value of <strong>fb_data</strong>:</p>
      <pre class="prettyprint">Does the user liked the page? {{ dump(fb_data['page']['liked']) }}</pre>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}